.cart{
    display: flex;
    flex-direction: column;
}

.cart div{
    background: #27AE60;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center; 
}

.cart div h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 20px;
}

.cart section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 158px;
    background: #F5F5F5;
    border-radius: 0px 0px 5px 5px;

}

.cart section h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
   
    color: #333333;
    margin-bottom: 2px;
}

.cart section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #828282;
}

@media  screen and (min-width:768px){
    .cart div{
        width: 365px;        
    }
}